


.container-fluid {
    background-color:#D38D5B;
}
.row {
    background-color:#FFFDF4;
    background-image: url(pictures/10366807.jpg);
    
    background-size: cover;
    font-family: 'Gochi hand';
    src:url(fonts/Gochi_Hand/);
    
}

.row-1{
    background-image: url(lined%20paper.jpg);
    background-size: cover;
    padding-top: 5px;
    padding-left:90px;
    padding-right:20px;
    font-family: 'Gochi hand';   
}

.row-2{
    background-image: url(pictures/10366807.jpg);
    text-align: center;
    
}

.h1{
    background-color: #FFEC7E;
    font-family:'indie flower';
    src:url(fonts/Indie_Flower/)
}

.h2 {
    background-color: #71F1FF;
    
}

.h3 {
    background-color: #79FF72
}

.row1{
    background-color: rgba(255, 250, 240, 0)

}